/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #FE870C;
    --ion-color-primary-rgb: 254,135,12;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #e0770b;
    --ion-color-primary-tint: #fe9324;

    --ion-color-secondary: #FFAB00;
    --ion-color-secondary-rgb: 255,171,0;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #e09600;
    --ion-color-secondary-tint: #ffb31a;

    --ion-color-tertiary: #FDF9CB;
    --ion-color-tertiary-rgb: 253,249,203;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #dfdbb3;
    --ion-color-tertiary-tint: #fdfad0;

    --ion-color-success: #10C100;
    --ion-color-success-rgb: 16,193,0;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #0eaa00;
    --ion-color-success-tint: #28c71a;

    --ion-color-warning: #FEC927;
    --ion-color-warning-rgb: 254,201,39;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0b122;
    --ion-color-warning-tint: #fece3d;

    --ion-color-danger: #FF6666;
    --ion-color-danger-rgb: 255,102,102;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #e05a5a;
    --ion-color-danger-tint: #ff7575;

    --ion-color-light: #E0E0E0;
    --ion-color-light-rgb: 224,224,224;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #c5c5c5;
    --ion-color-light-tint: #e3e3e3;

    --ion-color-medium: #A7A7A7;
    --ion-color-medium-rgb: 167,167,167;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #939393;
    --ion-color-medium-tint: #b0b0b0;

    --ion-color-dark: #606060;
    --ion-color-dark-rgb: 96,96,96;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #545454;
    --ion-color-dark-tint: #707070;

    --ion-color-white: #ffffff;
    --ion-color-white-rgb: 255,255,255;
    --ion-color-white-contrast: #000000;
    --ion-color-white-contrast-rgb: 0,0,0;
    --ion-color-white-shade: #e0e0e0;
    --ion-color-white-tint: #ffffff;
}

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}